nav ul {
    padding: 0;
    list-style: none;
}
nav > ul {
    margin-left: 30%;
    margin-top: 1px;
}
nav ul:after {
    content: "";
    display: table;
    clear: both;
}
nav input {
    margin-right: 20px;
    text-decoration: none;
    display: block;
;
}
.topmenu > li {
    float: left;

}
.topmenu > li > input {

    padding: 10px 20px;
    font-size: 16px;
    color: #C71585;
    width: 140px;
}
.topmenu input:hover {
    color: #5ee041;
}
.submenu input:hover {
    color: #5ee041;
}
.submenu {
    position: absolute;

    visibility: hidden;
    z-index: 10;
}
.submenu li {

    font-size: 13px;
    border: none;
    z-index: 10;
}
.submenu > li > input {
    width: 140px;
    font-size: 16px;
    color: #C71585;
    z-index: 10;
}
nav li:hover > .submenu {
    visibility: visible;
}
.pipe{
    width: 50px;
    height: 50px;
}
table {
    margin: auto;
    border-spacing:0;
}
.modal_div {
    width: 310px;
    height: 320px;
    border-radius: 20%;
    border: 3px #F0E68C solid;
    box-shadow: 0 0 0 3px #FF1493;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
    text-align: center;
    background-color: #1E90FF;
    font-family:Impact;
    border-bottom: 10px #F0E68C solid;
    font: 40px Segoe UI Black;
    text-shadow: 1px 1px 2px black;

}
.modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 22px;
    right: 25px;
    cursor: pointer;
    display: block;
    border-radius: 3px;
}
/* �o��o��a */
#overlay {
    z-index:3;
    position:fixed;
    background-color:#000;
    opacity:0.8;
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
}
.levels:hover{
    color: #FFFF00 ;
}
#result{
    visibility: hidden;
}
.board {
    width: 250px;
    height: 250px;
}
.start, #text, #loose{
    margin-top: 25%;
}
#regentry{
    margin-top: 10px;
}
#next, #restart{
    margin-top: 5%;
}
.end, #next, #restart{
    font-size: 20px;
}
#modal4{
    height: 450px;
    overflow: auto;

}
input{
    display: inline-block;
    border: 3px solid #87CEEB;
    color: #C71585;
    border-radius: 10px;
    border-bottom: 7px solid #87CEEB;
    font: 30px Segoe UI Black;
    width: auto;
    height: auto;
    font-size: 16px;
    padding: 10px 40px;
    background-color: #FFFFFF;
}
input:hover, input:active{
    border: 3px solid #FF0000;
    border-bottom: 5px solid #FF0000;
}
#timer{
    position: fixed;
    top: 18%;
    font-size: 20px;
}
#result{
    position: fixed;
    top: 24%;
    font-size: 20px;
    font: Segoe UI Black;
    color: #C71585;
    text-shadow: 1px 1px 2px black;

}

p {
    color: #C71585;
    text-shadow: 1px 1px 2px black;
    font-size: 25px;
}
.levels {
    margin-bottom: 10px;
    border-radius: 10px;
}
body {
    background-image: url(img/main.jpg);
}
#time, .text {
    color: #C71585;
    text-shadow: 1px 1px 2px black;
    font: 20px Segoe UI Black;
}
#authors{
    font: 20px Segoe UI Black;
    position: fixed;
    right: 5%;
    bottom: 2%;
    color: #C71585;
    text-shadow: 1px 1px 2px black;

}

.text:hover {
    color: red;
}
