nav ul {
    margin-left: 40%;
    padding: 0;
    list-style: none;
}
nav ul:after {
    content: "";
    display: table;
    clear: both;
}
nav input {
    text-decoration: none;
    display: block;
}
.topmenu > li {
    float: left;
    position: relative;
}
.topmenu > li > input {
    padding: 10px 15px;
    font-size: 16px;
    color:black;
}
.submenu input:hover {
    color: #5ee041;
}
.submenu {
    position: absolute;
    background: white;
    border-top: 1px solid #CBCBCC;
    border-left: 1px solid #CBCBCC;
    border-right: 1px solid #CBCBCC;
    visibility: hidden;
}
.submenu li {
    position: relative;
}
.submenu li  {
    color: black;
    padding: 10px 20px;
    font-size: 13px;
    border-bottom: 1px solid #CBCBCC;
}
.submenu > li > input {
    font-size: 16px;
    color:black;
}
nav li:hover > .submenu {
    visibility: visible;
}
.submenu .submenu {
    position: absolute;
    left: 100%;
    top: -1px;
}
.pipe{
    width: 70px;
    height: 70px;
}
table {

    margin: auto;

}
.modal_div {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
}
.modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}
/* Пoдлoжкa */
#overlay {
    z-index:3;
    position:fixed;
    background-color:#000;
    opacity:0.8;
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
}
#text {
    margin: 150px auto auto 105px;
}
.pipes {
    margin-left: 600px;
}
.levels:hover{
    color: #5ee041;
}
#result{
    visibility: hidden;
}